.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-normal {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-massive {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-left-image {
    padding-left: 40px !important;
}
.m-padded-lr{
    padding-left: 3em;
    padding-right: 3em;
}
.m-padded {
    padding: 1em !important;
}
.m-padded-mini {
    padding: 1em !important;
}
.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-bottom-small{
    margin-bottom: 0.5em !important;
}

.m-text-spaced {
    letter-spacing: 1px !important;
}
.m-opacity-mini {
    opacity: 0.8 !important;
}

.m-inline-block {
    display: inline-block !important;
}
.m-container {
    max-width: 75em !important;
    margin: auto !important;
}
.m-container-small {
    max-width: 60em !important;
    margin: auto !important;
}
.m-black{
    color:black !important;
}
.m-gray{
    color:rgb(122, 122, 122)!important;
}
.m-shadow-small{
    -webkit-box-shadow:0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}
.m-fixed {
    position: fixed !important;
    z-index: 10 !important;
}
.m-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}

@media screen and (max-width: 768px){
    .m-padded-lr{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-wide{
        width:100% !important;
    }
}