<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="css/blog.css">
</head>

<body>
    <!-- 导航栏 -->
    <nav class="ui inverted  attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui stackable container secondary inverted menu">
            <h1 class="ui  header item">Blog</h1>
            <a class="item active" href="#"><i class="home icon"></i> Home</a>
            <a class="item" href="#"><i class="list layout icon"></i> Category</a>
            <a class="item" href="#"><i class="tags icon"></i> Tags</a>
            <a class="item" href="#"><i class="archive  icon"></i> Archive</a>
            <a class="item" href="#"><i class="info icon"></i> Info</a>
            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- 正文栏 -->
    <div class="m-container ">
        <div class="ui container m-padded-tb-normal">
            <div class="ui stackable grid">
                <!-- 左边文章列表 -->
                <div class="eleven wide column">
                    <!-- 头部信息 -->
                    <div class="ui top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h3 class="ui  header">Blog</h3>
                            </div>
                            <div class="column right aligned">
                                Totals<h3 class="ui red header m-inline-block">&nbsp;&nbsp;14&nbsp;&nbsp;</h3>Articles
                            </div>
                        </div>
                    </div>
                    <!-- 列表信息 -->
                    <div class="ui attached segment padded">
                        <div class="ui padded vertical segment">
                            <div class="ui stackable grid">
                                <!-- 文章具体内容 -->
                                <div class="eleven wide column">
                                    <h3 class="ui header">Do you know?</h3>
                                    <p class="m-opacity-mini">Do you know Do you know Do you know Do you know Do you
                                        know Do you know Do you know Do you know
                                        Do you know Do you know Do you know Do you know Do you know Do you know Do you
                                        know Do you know
                                    </p>
                                    <div class="ui stackable grid">
                                        <!-- 发布信息 -->
                                        <div class="eleven wide column">
                                            <div class="ui horizontal link list">
                                                <div class="item">
                                                    <img src="https://i.picsum.photos/id/1021/100/100.jpg" alt=""
                                                        class="ui avatar image">
                                                    <div class="content">
                                                        <div class="header">610</div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="black calendar icon"></i>2017-10-01
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i>&nbsp;123
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 标签 -->
                                        <div class="five wide right aligned column">
                                            <a href="#" target="_blank" class="ui black label"><i
                                                    class="tag icon"></i>Tag</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- 文章图片 -->
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://i.picsum.photos/id/1021/800/450.jpg" alt=""
                                            class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 列表信息 -->
                    <div class="ui attached segment padded">
                        <div class="ui padded vertical segment">
                            <div class="ui stackable grid">
                                <!-- 文章具体内容 -->
                                <div class="eleven wide column">
                                    <h3 class="ui header">Do you know?</h3>
                                    <p class="m-opacity-mini">Do you know Do you know Do you know Do you know Do you
                                        know Do you know Do you know Do you know
                                        Do you know Do you know Do you know Do you know Do you know Do you know Do you
                                        know Do you know
                                    </p>
                                    <div class="ui grid">
                                        <!-- 发布信息 -->
                                        <div class="eleven wide column">
                                            <div class="ui horizontal link list">
                                                <div class="item">
                                                    <img src="https://i.picsum.photos/id/1021/100/100.jpg" alt=""
                                                        class="ui avatar image">
                                                    <div class="content">
                                                        <div class="header">610</div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="black calendar icon"></i>2017-10-01
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i>&nbsp;123
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 标签 -->
                                        <div class="five wide right aligned column">
                                            <a href="#" target="_blank" class="ui black label"><i
                                                    class="tag icon"></i>Tag</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- 文章图片 -->
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://i.picsum.photos/id/1021/800/450.jpg" alt=""
                                            class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 列表信息 -->
                    <div class="ui attached segment padded">
                        <div class="ui padded vertical segment">
                            <div class="ui stackable grid">
                                <!-- 文章具体内容 -->
                                <div class="eleven wide column">
                                    <h3 class="ui header">Do you know?</h3>
                                    <p class="m-opacity-mini">Do you know Do you know Do you know Do you know Do you
                                        know Do you know Do you know Do you know
                                        Do you know Do you know Do you know Do you know Do you know Do you know Do you
                                        know Do you know
                                    </p>
                                    <div class="ui grid">
                                        <!-- 发布信息 -->
                                        <div class="eleven wide column">
                                            <div class="ui horizontal link list">
                                                <div class="item">
                                                    <img src="https://i.picsum.photos/id/1021/100/100.jpg" alt=""
                                                        class="ui avatar image">
                                                    <div class="content">
                                                        <div class="header">610</div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="black calendar icon"></i>2017-10-01
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i>&nbsp;123
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 标签 -->
                                        <div class="five wide right aligned column">
                                            <a href="#" target="_blank" class="ui black label"><i
                                                    class="tag icon"></i>Tag</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- 文章图片 -->
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://i.picsum.photos/id/1021/800/450.jpg" alt=""
                                            class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 分页信息 -->
                    <div class="ui attached bottom segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <a href="#" class="ui mini black basic button"><i class="left chevron icon"></i>Back</a>
                            </div>
                            <div class="column  right aligned">
                                <a href="#" class="ui mini black basic button">Forward<i
                                        class="right chevron icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 右边信息块 -->
                <div class="five wide column">
                    <!-- 分类 -->
                    <div class="ui segments">
                        <div class="ui  black segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="list black layout icon"></i>Category
                                </div>
                                <div class="right aligned column">
                                    <a href="#" target="_blank" class="m-black">more <i
                                            class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui black segment">
                            <div class="ui fluid vertical menu">
                                <a href="#" class=" item">
                                    Inbox
                                    <div class="ui black label">1</div>
                                </a>
                                <a href="#" class="item">
                                    Spam
                                    <div class="ui black label">2</div>
                                </a>
                                <a href="#" class="item">
                                    Updates
                                    <div class="ui black label">3</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 标签 -->
                    <div class="ui segments">
                        <div class="ui  black segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class=" black tags icon"></i>Tags
                                </div>
                                <div class="right aligned column">
                                    <a href="#" target="_blank" class="m-black">more <i
                                            class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui black segment">
                            <div class="ui m-margin-tb-tiny labeled button">
                                <a href="#" class="ui basic black button">Tags</a>
                                <div class="ui basic black left pointing label">12</div>
                            </div>
                            <div class="ui m-margin-tb-tiny labeled button">
                                <a href="#" class="ui basic black button">Tags</a>
                                <div class="ui basic black left pointing label">12</div>
                            </div>
                        </div>
                    </div>
                    <!-- 最新推荐 -->
                    <div class="ui segments">
                        <div class="ui  black segment">
                            <i class=" black bookmark icon"></i>Latest recommended
                        </div>
                        <div class="ui  black segment">
                            <a href="#" target="_blank" class="m-black">titleeeeeeeeeeeeeeeee </a>
                        </div>
                        <div class="ui  segment">
                            <a href="#" target="_blank" class="m-black">titleeeeeeeeeeeeeeeee </a>
                        </div>
                        <div class="ui  segment">
                            <a href="#" target="_blank" class="m-black">titleeeeeeeeeeeeeeeee </a>
                        </div>
                    </div>
                    <!-- 二维码 -->
                    <h4 class="ui horizontal divider header"><i class="star icon"></i>Follow me</h4>
                    <div class="ui centered card" style="width:11em">
                        <img src="images/wechat.jpg" alt="" class="ui rounded image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 页尾栏 -->
    <footer class="ui inverted attached segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="item m-padded-left-image">
                        <img src="images/wechat.jpg" class="ui rounded image" alt="" style="width: 120px;">
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Latest blog</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">A</a>
                        <a href="#" class="item">B</a>
                        <a href="#" class="item">C</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Contack details</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item"><i class="qq icon"></i>547482051</a>
                        <a href="#" class="item"><i class="mail icon"></i>liu9634@126.com</a>
                        <a href="https://github.com/qq547482051" class="item"><i
                                class="github icon"></i>github.com/qq547482051</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Info</h4>
                    <p class="m-opacity-mini">This is my first Blog</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-opacity-mini m-text-spaced">Copy right © 2019 610-Blog Designed by 610</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
</body>

</html>